@addTagHelper *, MinifiersTagHelpers

<html>
    <head>
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/site.css" minify="true" />
    </head>
    <body>
        <script>
            /* comment */ console.log( 1 );   
        </script>
        <script>
            /* comment */ console.log( 1 );   
        </script>
        <style>
            /* test commentary */ input { font-size: 9pt ; }   
        </style>
        <script src="js/script.js"></script>
        <script src="js/script.js" minify="true"></script>
    </body>
</html>